*{
    box-sizing: border-box;
}

body {
    background-color: #0a0a24;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.main-container {
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
}

.bg-container {
    width: 35%;
    height: 100%;
    position: relative;
    border: 2px solid red;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-header {
    width: 100%;
    height: 20%;
    background-color: #0a0a2499;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: auto;
    height: 80%;
    object-fit: cover;
}

.title-text {
    width: 50%;
    font-size: 4rem;
    font-weight: 600;
    margin-left: 1rem;
    letter-spacing: 2px;
}

.content-container {
    width: 65%;
    height: 100%;
    display: block;
    border: 2px solid blue;
    padding-top: 100px;
}

.division {
    padding: 50px;
}


.form-header {
    margin-top: 100px;
}

.signup-form {
    width: 100%;
    min-height: 30%;
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}

.form-input {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid purple;
}

.form-input label {
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.form-input input {
    border: 1px solid #E5E7EB;
    padding: 7px;
    width: 70%;
    border-radius: 3px;
    font-size: 1rem;
}

.form-input input:focus {
    outline: 2px solid #2563EB;
}

.line-divider {
    width: 100%;
    border-top: 2px solid gray;
}
